# IPython Notebooks 
###################
*.ipynb_checkpoints

#compiled stuff
###############
*.pyc
*.html

# orig files
###########
*.orig

# Distribution / packaging / docs
#################################
eggs/
docs/
*.egg-info/
*.egg
.eggs/
build/


# latex stuff
# ##########
*.log
*.md5
*.vrb
*.dpth
*.bcf
*.bbl
*.blg
*.fls
*.auxlock
*.run.xml
*.json
*.fdb_latexmk
*.nav
*.xdv
*.toc
*.synctex.gz
*.aux
*.out

# Some specific files and folders
#################################
.ipynb_checkpoints/*
.ropeproject/*
node_modules/*
.idea/*
Package_Scheme.pptx
examples/*.py
